@using WebApplication1.Models
@model List<(Club, Club)>

<!DOCTYPE html>
<html>
<head>
    <title>Knockout Stage</title>
    <style>
        .knockout-stage {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .knockout-stage .match {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }

                .knockout-stage .match img {
                    width: 100px;
                    height: 100px;
                    margin-right: 20px;
                }

                .knockout-stage .match .vs {
                    font-size: 20px;
                    font-weight: bold;
                }
    </style>
</head>
<body>
    <h2>Knockout Stage</h2>
    <div class="knockout-stage">
        @foreach (var knockoutPair in Model)
        {
            <div class="match">
                @if (knockoutPair.Item1 != null && knockoutPair.Item2 != null)
                {
                    <img src="@knockoutPair.Item1.Photo" alt="@knockoutPair.Item1.Name" />
                    <span class="vs">vs</span>
                    <img src="@knockoutPair.Item2.Photo" alt="@knockoutPair.Item2.Name" />
                }
                else
                {
                    <span class="vs">Unknown Team</span>
                    <span class="vs">vs</span>
                    <span class="vs">Unknown Team</span>
                }
            </div>
        }
    </div>
</body>
</html>
